.NavbarSection {
  .navbar {
    .container-fluid {
      .navbar-brand {
        img {
          height: 32px;
        }
      }
    }
    .wrapper-profile {
      display: flex;
      align-items: center;
      height: 32px;
      display: flex;

      img {
        object-fit: cover;
        height: 32px;
        width: 32px;
      }
    }
  }
}
